<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>알람 리스트</h1>
    <div>
        <a href="/">메인으로</a>
    </div>
    <div th:each="alarm : ${list}" style="border: 1px solid black;">
        <div th:if="${alarm.alarmType} == '2'">
            <form>
                <div th:text="${alarm.title}"></div>
                <input type="hidden" name="idx" th:value="${alarm.idx}">
                <input type="hidden" name="recruitStudyIdx" th:value="${alarm.recruitStudyIdx}">
                <input type="hidden" name="recruitMentorIdx" th:value="${alarm.recruitMentorIdx}">
                <input type="hidden" name="recruitMenteeIdx" th:value="${alarm.recruitMenteeIdx}">
                <input type="button" value="수락" onclick="recruitAccept(this.form);">
                <input type="button" value="거절" onclick="recruitRefuse(this.form);">
            </form>
        </div>
        <div th:if="${alarm.alarmType} != '2'">
            <div>
                <form>
                    <input type="hidden" name="idx" th:value="${alarm.idx}">
                    <input type="button" value="X" onclick="deleteAlarm(this.form);"><br>
                    <a th:text="${alarm.title}"></a>
                </form>
            </div>
        </div>
    </div>
</body>
<script src="/js/httpRequest.js"></script>
<script th:inline="javascript">
    function deleteAlarm(f) {
        let idx = f.idx.value;
        let url = "/mypage/alarm/delete";
        let param = "idx=" + idx;
        sendRequest(url, param, deleteRes, "GET");
    }
    function deleteRes() {
        if ( xhr.readyState == 4 && xhr.status == 200 ) {
            var data = xhr.responseText;
            if(data == 'no'){
                alert("삭제 실패");
                return;
            } else {
                alert("삭제 성공");
                location.reload();
            }
        }
    }

    function recruitAccept(f) {
        let idx = f.idx.value;
        let recruitStudyIdx = f.recruitStudyIdx.value;
        let recruitMentorIdx = f.recruitMentorIdx.value;
        let recruitMenteeIdx = f.recruitMenteeIdx.value;
        let url = "/mypage/alarm/accept"
        let param = "idx=" + idx +
                    "&recruitStudyIdx=" + recruitStudyIdx +
                    "&recruitMentorIdx=" + recruitMentorIdx +
                    "&recruitMenteeIdx=" + recruitMenteeIdx;
        sendRequest(url, param, acceptRes, "GET");
    }
    function acceptRes() {
        if ( xhr.readyState == 4 && xhr.status == 200 ) {
            var data = xhr.responseText;
            if(data == 'no'){
                alert("실패");
                return;
            } else {
                if(data == 'study') {
                    alert("스터디원 구하기 수락 성공");
                    location.reload();
                }
                if(data == 'mentor') {
                    alert("멘토 구하기 수락 성공");
                    location.reload();
                }
                if(data == 'mentee') {
                    alert("멘티 구하기 수락 성공");
                    location.reload();
                }
                if(data == 'excess') {
                    alert("인원이 다 구해져 받을 수 없습니다.");
                    return;
                }
            }
        }
    }

    function recruitRefuse(f) {
        let idx = f.idx.value;
        let recruitStudyIdx = f.recruitStudyIdx.value;
        let recruitMentorIdx = f.recruitMentorIdx.value;
        let recruitMenteeIdx = f.recruitMenteeIdx.value;
        let url = "/mypage/alarm/refuse"
        let param = "idx=" + idx;
        sendRequest(url, param, refuseRes, "GET");
    }
    function refuseRes() {
        if ( xhr.readyState == 4 && xhr.status == 200 ) {
            var data = xhr.responseText;
            if(data == 'no'){
                alert("거절 실패");
                return;
            } else {
                alert("거절 성공");
                location.reload();
            }
        }
    }
</script>
</html>