.advertisingDiv{
    margin: 0px;
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}
.slides{
    position: absolute;
    left: 0;
    top: 0;
    width: 2600px;
    transition: left 0.3s ease-out;
}
.slides li:not(:last-child){
    float: left;
}
.slides li{
    float: left;
}
.controller span{
    position: absolute;
    background-color: transparent;
    text-align: center;
    border-radius: 50%;
    padding: 10px 20px;
    top: 55%;
    font-size: 30px;
    cursor: pointer;
    color: rgba(128, 128, 128, 0.5);
}
.controller span:hover{
    color: #87AF6E;
}
.prev{
  left: 10px;
}
.next{
  right: 10px;
}


.interestContainer{
    width: 100%;
    height: 200px;
}
.interestTitle{
    width: 100%;
    height: 30px;
    padding: 30px 0px 0px 20px;
    font-size: 22px;
}
.interestDivBody{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.interestElement{
    width: 80px;
    height: 80px;
    object-fit: contain;
    text-align: center;
    border-radius: 50%;
}

.interestElement:hover{
    background-color: #ececec;
}
.interestElement:active{
    background-color: #57B862;
}
.interestElementImg{
    width: 50px;
    height: 50px;
    padding-top: 6px;
}
.interestElementText{
    margin: 0px;
    font-size: 15px;
}


.bestStudyContainer, .bestMentorContainer{
    width: 100%;
    height: 450px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}
.bestStudySlides, .bestMentorSlides{
    position: absolute;
    width: 2368px;
    transition: all 0.3s ease-out;
    left: 0;
}
.status{
    background-color: #b1de95;
    width: 100%;
    height: 30px;
    margin: 5px 0px;
    border-radius: 20px;
}
.status span{
    height: 100%;
    font-size: 15px;
    font-weight: bold;
    justify-content: center;
    display: flex;
    align-items: center;
}
.BestTitle{
    width: 100%;
    height: 30px;
    padding: 30px 0px 0px 20px;
    font-size: 22px;
    font-weight: bold;
    border-bottom: 2px solid rgba(0, 0, 0, 0.25);
}
.bestStudyInner, .bestMentorInner{
    width: 2368px;
    height: 340px;
    padding-top: 10px;
    display: flex-inline;
    justify-content: start;
    align-items: center;
}
.bestStudyElement{
    width: 200px;
    height: 400px;
    margin: 20px;
}
.bestStudySlides li, .bestMentorSlides li{
    float: left;
}
.bestStudySlides li:not(:last-child), .bestMentorSlides li:not(:last-child){
    float: left;
}

.bestStudyImg{
    width: 100%;
    height: 200px;
    border-radius: 50%;
    margin-top: 15px;
    border: solid 2px #87AF6E;
}
.bestStudyTitle{
    width: 100%;
    height: 50px;
    margin: 5px 0px;
}
.bestStudyText{
    width: 100%;
    height: 20px;
    font-size: 15px;
    margin: 5px 0px 5px 3px;
    font-weight: bold;
}

.studyController span, .mentorController span{
    position: absolute;
    text-align: center;
    border-radius: 50%;
    padding: 8px 13px;
    top: 45%;
    font-size: 15px;
    cursor: pointer;
    color: rgba(128, 128, 128, 0.9);
    border: 1px solid #ccc;
    background-color: #ffffff;
    box-shadow: 0 1px 5px 0 rgb(0 0 0 / 10%);
}
.studyController span:hover, .mentorController span:hover{
    box-shadow: 0 1px 5px 0 rgb(0 0 0 / 30%);
}
.prev{
    left: 1px;
}
.next{
    right: 3px;
}