<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ID 찾기 결과</title>
    <link rel="stylesheet" type="text/css" href="/css/join_find.css">
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square-neo.css" rel="stylesheet">

</head>
<body>
    <div class="container smallContainer">
        <div class="resultFindId">
            <div class="mainLogo">
                <a href="/" alt="SOJU">
                    <img src="/img/logo_mate.png" class="mainLogoImg">
                </a>
            </div>
            <div class="joinFormContainer">
                <h2 th:text="'ID는 ' + ${emailId} + '입니다.'"></h2>
                <h2 th:text="'가입하신 경로는 ' + ${platform} + '입니다.'"></h2>
            </div>

            <div class="divBtnJoin">
                <input value="메인 페이지로 이동" class="btnJoin" type="button" onclick="location.href='/'">
                <input value="로그인 페이지로 이동" class="btnJoin" type="button" onclick="location.href='/loginform'">
            </div>
        </div>
    </div>
</body>
</html>