<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 찾기</title>
    <link rel="stylesheet" type="text/css" href="/css/join_find.css">
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square-neo.css" rel="stylesheet">
</head>
<body>
    <div class="container smallContainer">
        <div class="mainLogo">
            <a href="/" alt="SOJU">
                <img src="/img/logo_mate.png" class="mainLogoImg">
            </a>
        </div>
        <h2>비밀번호 찾기</h2>
        <form action="/loginform/findpwdform" method="post" th:object="${memberDTO}">
            <div class="joinFormContainer">
                <ul>
                    <input id="hEmailCheck" type="hidden">
                    <input id="hEmailKey" type="hidden">
                    <li class="liJoinInput"><label class="labelText">아이디</label><br><input th:field="*{emailId}" class="inputText" type="text" placeholder="이메일 주소">
                                                                                     <input type="button" value="인증번호 전송" class="btnJoinForm" onclick="sendEmail(this.form)"></li>
                    <li class="liJoinInput"><label class="labelText">인증번호 입력 </label><br><input id="emailKey" class="inputText" type="text" placeholder="인증번호">
                                                                                            <input type="button" value="인증번호 확인" class="btnJoinForm" onclick="checkEmail()"></li>
                    <li class="liJoinInput"><label class="labelText">이름</label><br><input th:field="*{name}" class="inputText" type="text" placeholder="이름"></li>
                    <li class="liJoinInput"><label class="labelText">핸드폰번호</label><br><input th:field="*{phoneNumber}" class="inputText" type="text" placeholder="핸드폰번호(하이픈'-'없이)"></li>
                </ul>
            </div>

            <div class="divBtnJoin">
                <input type="button" value="비밀번호 재설정" class="btnJoin" onclick="findPwd(this.form)">
                <input type="button" value="취소하기" class="btnJoin" onclick="location.href='/loginform'">
            </div>
        </form>
    </div>
<!--JS----------------------------------------------------------------------------------------------------------------->
    <!-- Ajax사용을 위한 js를 추가 -->
    <script src="/js/httpRequest.js"></script>

    <!-- 이메일 중복 체크, 이메일 인증 번호 전송 및 체크 -->
    <script>
        // 이메일 인증 번호 발송
        function sendEmail(f) {
            let emailId = f.emailId.value; // 이메일 아이디

            // 이메일 형식 체크 패턴
            let pattern = /^[A-Za-z0-9_\.\-]+@[A-Za-z0-9\-]+\.[A-Za-z0-9\-]+/;

            // 아이디가 이메일 형식에 맞는지 체크한다.
            // 이메일 형식이 아닐 경우
            if( !pattern.test(emailId) ) {
                alert("이메일 형식을 다시 확인해주세요\n ex) abc@naver.com");
                return;
            // 이메일 형식이 맞는 경우
            } else {
                // 1. Ajax를 사용하여 작성한 아이디를 컨트롤러로 보낸다.
                let url = "/loginform/findpwdform/emailsend";
                let param = "emailId=" + emailId;
                sendRequest(url, param, resultSendEmail, "POST");
            }
        }
        // 이메일 인증 번호 발송 콜백 메소드
        function resultSendEmail() {
            if ( xhr.readyState == 4 && xhr.status == 200 ) {
                // 14. 컨트롤러에서 반환된 이메일 정보 DTO를 받아온다.
                let data = xhr.responseText;
                // 15. 14에서 받아온 DTO를 JavaScript 객체로 변환한다.
                let jsData = JSON.parse(data);
                let hEmailCheck = document.getElementById("hEmailCheck"); // 아이디 중복 체크 값
                let hEmailKey = document.getElementById("hEmailKey"); // 이메일 인증 번호 체크 값

                // 16. 15에서 변환된 DTO 값 중 체크 값으로 메일이 정상적으로 발송됬는지 체크한다.
                // 16-1. 메일이 발송이 실패한 경우 - 중복된 아이디 - 사용 불가
                if ( jsData.emailId == "0" ) {
                    alert(jsData.msg); // 변환된 DTO 값 중 메세지를 가져와 알람으로 띄운다.
                    hEmailCheck.value = "false"; // 아이디 중복 체크 값에 false를 전달한다.
                    return;
                // 16-2. 메일 발송이 실패한 경우 - 내부 문제로 발송 실패
                } else if ( jsData.emailId == "-1" ) {
                    alert(jsData.msg); // 변환된 DTO 값 중 메세지를 가져와 알람으로 띄운다.
                    hEmailCheck.value = "false"; // 아이디 중복 체크 값에 false를 전달한다.
                    return;
                // 16-3. 메일이 발송이 성공한 경우 - 사용 가능한 아이디
                } else {
                    alert("인증 메일을 발송했습니다.");
                    hEmailKey.value = jsData.msg; // 15에서 변환된 DTO 값 중 메세지를 가져와 이메일 인증 번호 체크 값(암호화된 이메일 인증 번호)에 전달한다.
                    return;
                }
            }
        }

        // 이메일 인증 번호 체크
        function checkEmail() {
            let emailId = document.getElementById("emailId"); // 이메일 아이디
            let emailKey = document.getElementById("emailKey"); // 이메일 인증 번호
            let hEmailCheck = document.getElementById("hEmailCheck"); // 아이디 중복 체크 값
            let hEmailKey = document.getElementById("hEmailKey"); // 이메일 인증 번호 체크 값(암호화된 이메일 인증 번호)

            // 작성한 이메일 인증 번호와 이메일 인증 번호 체크 값이 같은지 체크한다.
            // fetch를 사용하여 이메일 인증 번호 체크 URL에 파라미터로 작성한 이메일 인증 번호와 이메일 인증 번호 체크 값(암호화된 이메일 인증 번호)을 가져가 두개의 이메일 인증 번호가 일치하는지 체크한다.
            // fetch(url, { options: value }) - 브라우저에서 제공하는 API 중 하나로, 네트워크 요청을 보내고 응답을 받아오는 메소드이다.
            //                                  fetch() 메소드는 첫 번째 인자로 서버에 데이터를 요청할 URL을 전달받고, 두 번째 인자로 선택적으로 HTTP 요청과 관련된 다양한 옵션을 설정하는 객체를 전달받는다.
            //                                  여기서 옵션 객체는 HTTP 요청에 대한 옵션을 설정할 수 있는 여러 가지 속성을 가지고 있는데,
            //                                  예를 들어 method 속성을 이용하여 HTTP 요청 메소드(GET, POST, PUT, DELETE 등)를 지정할 수 있으며,
            //                                  method 속성을 지정하지 않으면 기본적으로 HTTP 요청 메서드는 GET이 된다.
            //                                  그러기에 두 번째 인자로 옵션 객체를 전달하지 않으면 기본적으로 HTTP 요청 메서드는 GET으로 지정된다.
            //                                  또 다른 속성으로는 headers, mode, cache, credentials 등이 있다.
            //                                  fetch() 메소드는 Promise 객체를 반환하며, 이를 통해 비동기적으로 서버로부터 데이터를 받아올 수 있다.
            //                                  응답을 받아오는 데 성공하면 Response 객체를 반환하고, 실패하면 Error 객체를 반환한다.
            // 예시 - 아래와 같이 fetch 메소드를 사용하여 JSON 데이터를 요청할 수 있다.
            // fetch("/joinform/emailsend/emailcheck?emailKey=" + emailKey.value + "&hEmailKey=" + hEmailKey.value, { method: "POST" })
            //     .then(response => response.json()) // JSON 형식으로 파싱
            //     .then(data => { console.log(data) }) // 응답 데이터 처리
            //     .catch(error => console.error(error)); // 오류 처리
            // fetch 메소드는 Promise를 반환하기 때문에, then 메서드를 사용하여 비동기 처리를 할 수 있다.
            // fetch 메소드를 사용하여 ""/joinform/emailsend/emailcheck?emailKey=" + emailKey.value + "&hEmailKey=" + hEmailKey.value" 주소로 POST 요청을 보내고,
            // then() 메소드를 사용하여 요청이 성공했을 때 반환된 Response 객체를 json() 메소드를 통해 JSON 형식으로 변환한다.
            // 그리고 다시 then() 메소드를 사용하여 변환된 JSON 데이터를 콘솔에 출력한다.
            // 만약 요청이 실패하면 catch 메소드에서 에러를 출력한다.
            fetch("/joinform/emailsend/emailcheck?emailKey=" + emailKey.value + "&hEmailKey=" + hEmailKey.value, { method: "POST" })
                .then(response => response.json()) // JSON 형식으로 파싱
                .then(data => {
                    // 이메일 인증 번호가 일치하는 경우 - 아아디 사용 가능
                    if ( data === true ) {
                        alert("인증 되었습니다.");
                        hEmailCheck.value = "true"; // 아이디 중복 체크 값에 true를 전달한다.
                        emailId.readOnly = true; // 인증된 아이디를 변경하지 못하도록 막는다.
                        emailKey.readOnly = true; // 작성한 이메일 인증 번호를 변경하지 못하도록 막는다.
                        return;
                    // 이메일 인증 번호가 일치하지 않는 경우 - 아이디 사용 불가
                    } else {
                        alert("인증 번호를 다시 확인해주세요");
                        hEmailCheck.value = "false"; // 아이디 중복 체크 값에 false를 전달한다.
                        emailKey.value = ""; // 작성한 이메일 인증 번호를 초기화한다.
                        return;
                    }
                }) // 응답 데이터 처리
                .catch(error => console.error(error)); // 오류 처리
        }
    </script>

    <script>
        function findPwd(f) {
            let emailId = f.emailId.value;
            let name = f.name.value;
            let phoneNumber = f.phoneNumber.value;
            phoneNumber = phoneNumber.replace(/[^0-9]/g, '');
            let emailKey = document.getElementById("emailKey").value;
            let hEmailCheck = document.getElementById("hEmailCheck").value;

            //emailId
            if ( emailId == '' ) {
                alert("이메일을 입력하세요");
                return;
            }
            //인증번호
            if ( emailKey == '' ) {
                alert("인증번호를 확인해주세요");
                return;
            }
            //인증번호 확인
            if ( hEmailCheck != "true" ) {
                alert("인증번호를 확인해주세요");
                return;
            }
            //이름
            if ( name == '' ) {
                alert("이름을 입력하세요");
                return;
            }
            //phoneNumber
            if ( phoneNumber == '' ) {
                alert("핸드폰 번호를 입력하세요");
                return;
            }

            let url = "/loginform/findpwdform/findpwd";
            let param = "emailId=" + emailId +
                        "&name=" + name +
                        "&phoneNumber=" + phoneNumber;
            sendRequest(url, param, resultFindPwd, "POST");
        }
        function resultFindPwd() {
            if ( xhr.readyState == 4 && xhr.status == 200 ) {
                let data = xhr.responseText;
                let emailId = document.getElementById("emailId").value;

                if ( data == "no" ) {
                    alert("입력하신 정보로 가입된 회원이 아닙니다.\n입력하신 정보를 다시 확인해 주세요.");
                    return;
                } else if ( data == "Google" ) {
                    alert("Google 소셜 회원가입자로,\n'Google로 로그인 하기'로 로그인해주세요");
                    return;
                } else if ( data == "Naver" ) {
                    alert("Naver 소셜 회원가입자로,\n'Naver로 로그인 하기'로 로그인해주세요");
                    return;
                } else {
                    alert("비밀번호 재설정 페이지로 이동합니다.");
                    //비밀번호 재설정 페이지로 이동
                    location.href = "/loginform/findpwdform/resetpwdform?emailId=" + emailId;
                }
            }
        }
    </script>
</body>
</html>