<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>아이디 찾기</title>
    <link rel="stylesheet" type="text/css" href="/css/join_find.css">
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square-neo.css" rel="stylesheet">
</head>
<body>
    <div class="container smallContainer">
        <div class="mainLogo">
            <a href="/" alt="SOJU">
                <img src="/img/logo_mate.png" class="mainLogoImg">
            </a>
        </div>
        <h2>아이디 찾기</h2>
        <form action="/loginform/findidform" method="post" th:object="${memberDTO}">
            <div class="joinFormContainer">
                <ul class="findIdForm">
                    <li class="liJoinInput"><label class="labelText">이름</label><br><input th:field="*{name}" class="inputText" type="text" placeholder="이름"></li>
                    <li class="liJoinInput"><label class="labelText">핸드폰번호</label><br><input th:field="*{phoneNumber}" class="inputText" type="text" placeholder="핸드폰번호(하이픈'-'없이)"></li>
                </ul>
            </div>
            <div class="divBtnJoin">
                <input type="button" value="아이디 찾기" class="btnJoin" onclick="findId(this.form)">
                <input type="button" value="취소하기" class="btnJoin" onclick="location.href='/loginform'">
            </div>
        </form>
    </div>
<!--JS----------------------------------------------------------------------------------------------------------------->
    <!-- Ajax사용을 위한 js를 추가 -->
    <script src="/js/httpRequest.js"></script>

    <script>
        function findId(f) {
            let name = f.name.value;
            let phoneNumber = f.phoneNumber.value;
            phoneNumber = phoneNumber.replace(/[^0-9]/g, '');

            //이름
            if ( name == '' ) {
                alert("이름을 입력하세요");
                return;
            }
            //phoneNumber
            if ( phoneNumber == '' ) {
                alert("핸드폰 번호를 입력하세요");
                return;
            }

            let url = "/loginform/findidform/findid";
            let param = "name=" + name +
                        "&phoneNumber=" + phoneNumber;
            sendRequest(url, param, resultFindId, "POST");
        }
        function resultFindId() {
            if ( xhr.readyState == 4 && xhr.status == 200 ) {
                let data = xhr.responseText;
                console.log(data);

                if ( data == "" ) {
                    alert("입력하신 정보로 가입된 아이디가 없습니다.\n입력하신 정보를 다시 확인해 주세요.");
                    return;
                } else {
                    let json = JSON.parse(data);
                    let emailId = json.emailId;
                    let platform = json.platform;
                    location.href = "/loginform/findidform/checkid?emailId=" + emailId + "&platform=" + platform;
                }
            }
        }
    </script>
</body>
</html>