<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>방생성</title>
    <link rel="stylesheet" type="text/css" href="/css/createRoom.css">
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square-neo.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="title">
            <span>방 만들기</span>
        </div>
        <!-- th:object="${바인딩한 객체의 변수명}" - 모델로 바인딩한 객체를 가져온다. -->
        <form class="createForm" action="/meta/createmetaform/createmeta" method="post" th:object="${metaDTO}">
            <!-- th:for="th:field에 작성한 변수명" - label과 input을 연결 해준다. -->
            <!-- th:field="*{th:object로 가져온 객체의 내부 변수명}" - 모델로 바인딩한 객체의 내부 변수들을 가져와 id, name, value 속성을 자동으로 처리 해준다. -->
            <div class="RoomForm">
                <p th:for="metaTitle">방 제목</p>
                <input th:field="*{metaTitle}" type="text">
            </div>
            <div class="RoomForm">
                <p>생성자</p>
                <input name="metaMaster" th:value="${metaMaster}" readonly>
            </div>
            <div class="RoomForm">
                <p th:for="metaType">방 분야</p>
                <select th:field="*{metaType}"><option value="">방 분야</option>
                                               <option value="studyRoom">스터디방</option>
                                               <option value="cafeRoom">카페</option></select>
            </div>
            <div class="RoomForm">
                <p th:for="metaPersonnel">모집 인원</p>
                <select th:field="*{metaPersonnel}"><option value="0">모집 인원</option>
                                                    <option value="1">1명</option>
                                                    <option value="2">2명</option>
                                                    <option value="3">3명</option>
                                                    <option value="4">4명</option>
                                                    <option value="5">5명</option>
                                                    <option value="6">6명</option>
                                                    <option value="7">7명</option>
                                                    <option value="8">8명</option>
                                                    <option value="9">9명</option>
                                                    <option value="10">10명</option></select>
            </div>
            <div class="submitBtn">
                <input type="submit" value="방 만들기">
            </div>
        </form>
    </div>
</body>
</html>