<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>자습실</title>
    <link rel="stylesheet" type="text/css" href="/css/selfStudy.css">
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square-neo.css" rel="stylesheet">
    <script th:inline="javascript">
        let err = [[${err}]];
        if ( err != null ) {
            alert("알수없는 이유로 방이 터졌습니다.\n방을 재생성 해주시기 바랍니다.");
            location.href = "/meta";
        }
    </script>
</head>
<body onkeydown="keyDown()" onkeyup="keyUp()" onunload="exit()">
    <main class="container">

        <section class="leftContainer">
            <div class="timerDiv">
                <div class="todayDiv">
                    <div class="todayDateDiv">
                        <span id="dateSpan"></span>
                    </div>

                    <div class="todayTimeDiv">
                        <div class="todayPMAM">
                            <span id="meridiemSpan"></span>
                        </div>

                        <div class="todayTime">
                            <span id="timeSpan"></span>
                        </div>
                    </div>
                </div>

                <div class="stopWatch">
                    <div class="hour stopWatchTime">
                        <div class="controllerBtn" id="bodyLeftTopMid1Top">
                            <input class="plus" id="bodyLeftTopMid1Top1" type="button" value="+" onclick="counting('hour', '+')">
                            <input class="minus" id="bodyLeftTopMid1Top2" type="button" value="-" onclick="counting('hour', '-')">
                        </div>

                        <div class="number">
                            <span id="bodyLeftTopMid1Mid1">00</span>
                        </div>

                        <div class="controllerText" id="bodyLeftTopMid1Bottom">
                            <input id="bodyLeftTopMid1BottomInput" type="number" onchange="hourChange(this)">
                        </div>
                    </div>

                    <div class="minute stopWatchTime">
                        <div class="controllerBtn" id="bodyLeftTopMid3Top">
                            <input class="controllerBtnPlus" id="bodyLeftTopMid3Top1" type="button" value="+" onclick="counting('minute','+')">
                            <input class="controllerBtnMinus" id="bodyLeftTopMid3Top2" type="button" value="-" onclick="counting('minute','-')">
                        </div>
                        <div class="number stopWatchTime">
                            <span id="bodyLeftTopMid3Mid1">00</span>
                        </div>
                        <div class="controllerText" id="bodyLeftTopMid3Bottom">
                            <input id="bodyLeftTopMid3BottomInput" type="number" onchange="minuteChange(this)">
                        </div>
                    </div>

                    <div class="second">
                        <div class="controllerBtn" id="bodyLeftTopMid5Top">
                            <input class="controllerBtnPlus" id="bodyLeftTopMid5Top1" type="button" value="+" onclick="counting('second', '+')">
                            <input class="controllerBtnMinus" id="bodyLeftTopMid5Top2" type="button" value="-" onclick="counting('second', '-')">
                        </div>
                        <div class="number">
                            <span id="bodyLeftTopMid5Mid1">00</span>
                        </div>
                        <div class="controllerText" id="bodyLeftTopMid5Bottom">
                            <input id="bodyLeftTopMid5BottomInput" type="number" onchange="secondChange(this)">
                        </div>
                    </div>
                </div>

                <div class="watchController">
                    <div class="chaneMode">
                        <div class="time" id="startButton" onclick="startTimer();">
                            <span class="changeBtn" id="startButtonText">START</span>
                        </div>
                        <div class="time" id="stopButton" onclick="stopTimer();">
                            <span class="changeBtn" id="stopButtonText">STOP</span>
                        </div>
                    </div>

                    <div class="chaneMode">
                        <div class="time">
                            <span class="changeBtn" id="timerButton" onclick="timerClick('0');">타이머</span>
                        </div>
                        <div class="time">
                            <span class="changeBtn" id="stopWatchButton" onclick="timerClick('1');">스톱워치</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="metaCanvas">
                <input type="hidden" value="캔버스">
                <canvas id="canvas"></canvas>
            </div>

        </section>

        <section class="rightContainer">
            <div class="exitBtn">
                <!-- 녹음 구역 -->
                <div class="recordArea" id="recordArea">
                    <audio class="recordPlayer" id="record" controls></audio>
                    <input class="recordBtn" id="btnRecordStart" type="button" value="녹음 시작">
                    <input class="recordBtn" id="btnRecordStop" type="button" value="녹음 정지" disabled>
                    <input class="recordBtn" id="btnRecordDownload" type="button" value="녹음 다운로드" disabled>
                </div>
                <!-- 나가기 버튼 -->
                <input class="menuBarExitBtn" type="button" value="나가기" th:onclick="|location.href='@{/meta/selfexit(idx = ${metaRoom.idx}, nickname = ${nickImage.nickname})}'|">
            </div>
            <div class="checkListContainer">
                <div class="checkListTitle">
                    <span>CheckList</span>
                </div>

                <div class="checkListDiv">
                    <!-- 여기서부터 리스트로 돌리면 됨 -->
                    <div class="checkListOne" th:each="checkList : ${checkList}">
                        <div class="checkList">
                            <div class="checkListCheckbox">
                                <input th:if="${checkList.listCheck == 0}" th:id="${checkList.idx}" class="listCheck" th:value="${checkList.listCheck}" type="checkbox">
                                <input th:if="${checkList.listCheck == 1}" th:id="${checkList.idx}" class="listCheck" th:value="${checkList.listCheck}" type="checkbox" checked>
                            </div>

                            <div class="checkListText">
                                <span th:text="${checkList.content}"></span>
                            </div>
                        </div>

                        <div class="checkListController">
                            <input  class="checkListControllerBtn" type="button" value="삭제">
                            <input  class="checkListControllerBtn" type="button" value="수정">
                        </div>
                    </div>

                </div>
            </div>

            <div class="dDayDiv">
                <input type="hidden" value="디데이">
                <div class="dDAyTitle">
                    <span>D-DAY</span>
                </div>
                <div class="dDayText">
                    <span>"수능"</span>
                </div>
            </div>
        </section>
    </main>
<!-------------------------------------------------------js 구역-------------------------------------------------------->
    <!-- SockJS 사용을 위한 js를 추가 -->
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <!-- Stomp 사용을 위한 js를 추가 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <!-- Ajax 사용을 위한 js를 추가 -->
    <script src="/js/httpRequest.js"></script>

    <script>
        let listChecks = document.querySelectorAll(".listCheck");
        listChecks.forEach(listCheck => {
            listCheck.addEventListener("click", () => {
                let checkListIdx = document.getElementsByClassName("checkListIdx");
                if ( listCheck.value == "0" ) {
                    if ( confirm("체크리스트에 체크를 하시겠습니까?") ) {
                        fetch("/meta/checklist/check?idx=" + listCheck.id)
                            .then(response => response.json())
                            .then(data => {
                                if ( data == null ) {
                                    alert("잘못된 경로입니다.\n새로고침 후 다시 시도해주시기 바랍니다.");
                                    return;
                                } else {
                                    listCheck.checked = true;
                                    listCheck.value = "1";
                                    alert("체크가 완료되었습니다.");
                                    return;
                                }
                            })
                            .catch(error => console.error(error)); // fetch
                    } else {
                        listCheck.checked = false;
                        return;
                    }
                } else {
                    if ( confirm("체크리스트에 체크를 해제하시겠습니까?") ) {
                        fetch("/meta/checklist/check?idx=" + listCheck.id)
                            .then(response => response.json())
                            .then(data => {
                                if ( data == null ) {
                                    alert("잘못된 경로입니다.\n새로고침 후 다시 시도해주시기 바랍니다.");
                                    return;
                                } else {
                                    listCheck.checked = false;
                                    listCheck.value = "0";
                                    alert("체크 해제가 완료되었습니다.");
                                    return;
                                }
                            })
                            .catch(error => console.error(error)); // fetch
                    } else {
                        listCheck.checked = true;
                        return;
                    }
                }
            });
        });
    </script>

    <script>
        let isWatch = false; //타이머로 설정되었는지 스톱워치로 설정되었는지 확인
        let hourPlus = document.getElementById("bodyLeftTopMid1Top1"); //타이머에서 시간을 증가시키는 버튼
        let hourMinus = document.getElementById("bodyLeftTopMid1Top2"); //타이머에서 시간을 감소시키는 버튼
        let hourCountDiv = document.getElementById("bodyLeftTopMid1Mid1"); // 시계에 숫자를 가지고있는 span 태그 변수
        let hourCount = 0; // 실제 시간을 정할 정수타입 변수
        let hourInputCount = document.getElementById("bodyLeftTopMid1BottomInput"); // 타이머에 직접 시간을 입력할 수 있는 input 태그 변수
        let minutePlus = document.getElementById("bodyLeftTopMid3Top1"); //타이머에서 분을 증가시키는 버튼
        let minuteMinus = document.getElementById("bodyLeftTopMid3Top2"); //타이머에서 분을 감소시키는 버튼
        let minuteCountDiv = document.getElementById("bodyLeftTopMid3Mid1"); // 시계에 분을 가지고있는 span 태그 변수
        let minuteCount = 0; // 실제 분을 정할 정수타입 변수
        let minuteInputCount = document.getElementById("bodyLeftTopMid3BottomInput"); // 타이머에 직접 분을 입력할 수 있는 input 태그 변수
        let secondPlus = document.getElementById("bodyLeftTopMid5Top1"); //타이머에서 초를 증가시키는 버튼
        let secondMinus = document.getElementById("bodyLeftTopMid5Top2"); //타이머에서 초를 감소시키는 버튼
        let secondCountDiv = document.getElementById("bodyLeftTopMid5Mid1"); // 시계에 초를 가지고있는 span 태그 변수
        let secondCount = 0; // 실제 초를 정할 정수타입 변수
        let secondInputCount = document.getElementById("bodyLeftTopMid5BottomInput"); // 타이머에 직접 초를 입력할 수 있는 input 태그 변수
        let hourCountText = ""; // 시간을 두자리로 바꾼이후 문자열로 입력하기위한 변수
        let minuteCountText = ""; // 분을 두자리로 바꾼이후 문자열로 입력하기위한 변수
        let secondCountText = ""; // 초를 두자리로 바꾼이후 문자열로 입력하기위한 변수
        let topButton1 = document.getElementById("bodyLeftTopMid1Top"); //타이머에서 시간을 증가, 감소시키는 버튼들을 감싼 div 태그
        let topButton2 = document.getElementById("bodyLeftTopMid3Top"); //타이머에서 분을 증가, 감소시키는 버튼들을 감싼 div 태그
        let topButton3 = document.getElementById("bodyLeftTopMid5Top"); //타이머에서 초를 증가, 감소시키는 버튼들을 감싼 div 태그
        let bottomButton1 = document.getElementById("bodyLeftTopMid1Bottom"); //타이머에서 시간을 작성하는 input 태그
        let bottomButton2 = document.getElementById("bodyLeftTopMid3Bottom"); //타이머에서 분을 작성하는 input 태그
        let bottomButton3 = document.getElementById("bodyLeftTopMid5Bottom"); //타이머에서 초를 작성하는 input 태그
        const TIME_ZONE = 3240 * 10000; // 현재 시간을 설정하는 변수
        const joinTime = new Date().toTimeString().split(' ')[0]; // 유저가 접속한 시간을 저장하기위한 변수
        let isStopWatch = false; // 유저가 스탑워치를 눌렀는지 확인하는 변수
        let isTimer = false; // 유저가 타이머를 눌렀는지 확인하는 변수
        let intervalTimer = null;  // 유저가 시작버튼을 눌렀을때 스레드를 사용하기위한 변수
        let isRunning = false; // 시작버튼이 눌렸는지 확인하는 변수
        let isStop = false; //스탑 버튼이 눌렸는지 확인하는 변수
        let startButton = document.getElementById("startButton"); //시작 버튼 변수
        let startButtonText = document.getElementById("startButtonText");//시작 버튼 텍스트 변수
        let stopButton = document.getElementById("stopButton"); //정지 버튼 변수
        let stopButtonText = document.getElementById("stopButtonText");//정지 버튼 텍스트 변수
        let timerButton = document.getElementById("timerButton"); //타이머 버튼 변수
        let stopWatchButton = document.getElementById("stopWatchButton"); //스톱워치 버튼 변수


        //왼쪽의 날짜와 시간을 계산해주는 메서드(스레드)
        //작성 방식은 setInterval 메서드안에 파라미터값을 두개 준다.
        //앞의 파라미터는 메서드를 넣어준다.
        //뒤의 파라미터는 스레드가 실행할 시간을 넣어준다.
        //스레드가 실행할 시간 타입은 1/1000초로 지정되어있다.
        //1초 마다 실행하기 위해 1000을 넣어주었다.
        setInterval(function(){
            //date 변수에 지금의 시간을 불러온다.
            let date = new Date();
            //today 변수에 지금의 시간을 타임존의 정보에 맞게 가공한 이후 보기 편하도록 dateFormat 을 설정해서 보여준다.
            let today = new Date(+new Date() + TIME_ZONE).toISOString().split('T')[0];
            //dateSpan 의 id를 가진 태그의 값으로 현재 날짜를 저장한다.
            document.getElementById("dateSpan").innerText = today.toString();
            //현재 시간을 dateFormat 으로 시간만 분리해서 저장
            let time = date.toTimeString().split(' ')[0];
            //현재 시간을 formatAMPM 메서드로 오전과 오후로 구분한뒤 12시간 타입으로 구분하게 설정한다.
            let afterTime = formatAMPM(date);
            //현재 시간을 am 과 pm 으로 구분하기 위해서 현재 시간을 가져온다.
            let whatTime = time[0] + time[1];
            //am 과 pm 문자열로 저장하는 변수를 기본 am 으로 초기화 시킨다.
            let meridiem = "AM";
            //만약 whatTime 변수에 값이 12보다 크거나 같다면 오후에 해당하는 pm 으로 변경한다.
            if(whatTime >= 12){
                meridiem = "PM";
            }
            //현재 오전과 오후 상태를 span 태그에 저장한다.
            document.getElementById("meridiemSpan").innerText = meridiem;
            //현재시간을 span 태그에 저장한다.
            document.getElementById("timeSpan").innerText = afterTime;
        }, 1000);

        //현재시간이 오전인지 오후인지 알려주는 메서드
        //파라미터로 현재 시간을 넣어주어야 한다.
        function formatAMPM(date) {
            //시간 변수에 date.getHours() 메서드로 시간만 따로 분리해서 저장한다.
            let hours = date.getHours();
            //시간을 12로 나눈 나머지 값을 변수에 저장한다.
            let afterHours = (hours % 12);
            //만약 변수값이 10 보다 작다면 두자리 숫자로 만들기 위해서 앞에 0을 붙여준다.
            if(afterHours < 10){
                afterHours = "0" + afterHours;
            }
            //분 변수에 date.getMinutes() 메서드로 분만 따로 분리해서 저장한다.
            let minutes = date.getMinutes();
            //계산된 시간과 계산된 분을 타입에 맞게 더한이후 값을 반환해준다.
            return afterHours + ':' + minutes.toString().padStart(2, '0');
        }

        //시간을 증가,감소 시키는 메서드
        //숫자를 입력하는 인풋태그 자체를 파라미터로 가져온다.
        function hourChange(v){
            //만약 인풋태그의 값중 첫번째 자리숫자가 0과 같다면 숫자는 0으로 설정해준다.
            //두자리 숫자를 적어주었을때 앞자리는 숫자가 0이아니라서 가능하다.
            if(v.value.charAt(0) == 0){
                v.value = 0;
            }
            //만약 인풋태그의 값이 99가 넘어간다면 시간은 99를 넘기지 못하게 설정한다.
            //이후 값은 0으로 다시 초기화를 시켜준다.
            if(v.value > 99){
                v.value = 0;
                alert('시간은 99를 넘길 수 없습니다.');
            }
            //만약 인풋태그의 값이 0보다 작다면 시간은 0보다 작을수 없게 설정한다.
            //이후 값은 0으로 다시 초기화를 시켜준다.
            if(v.value < 0){
                v.value = 0;
                alert('시간은 0보다 작을 수 없습니다.');
            }
            //이 조건에 걸리지않는다면 0 ~ 99 까지의 정상적인 값이 들어갔기때문에
            //실제 시간을 카운트하는 변수에 저장한다.
            hourCount = v.value;
            //만약 시간을 카운트하는 변수가 10보다 작다면 한자리숫자 이므로
            //앞에 0을 하나 더 붙인다음 값을 보여주는 텍스트 변수에 저장한다.
            //그렇지 않다면 그값을 그대로 텍스트 변수에 저장한다.
            if(hourCount < 10){
                hourCountText = '0' + hourCount;
            }else{
                hourCountText = hourCount;
            }
            //이후 시간을 보여줄 태그에 값으로 텍스트변수값을 저장한다.
            hourCountDiv.innerHTML = hourCountText;
        }

        //분을 증가,감소 시키는 메서드
        //숫자를 입력하는 인풋태그 자체를 파라미터로 가져온다.
        function minuteChange(v){
            //만약 인풋태그의 값중 첫번째 자리숫자가 0과 같다면 숫자는 0으로 설정해준다.
            //두자리 숫자를 적어주었을때 앞자리는 숫자가 0이아니라서 가능하다.
            if(v.value.charAt(0) == 0){
                v.value = 0;
            }
            //만약 인풋태그의 값이 59가 넘어간다면 분은 59를 넘기지 못하게 설정한다.
            //이후 값은 0으로 다시 초기화를 시켜준다.
            if(v.value > 59){
                v.value = 0;
                alert('분은 59를 넘길 수 없습니다.');
            }
            //만약 인풋태그의 값이 0보다 작다면 분은 0보다 작을수 없게 설정한다.
            //이후 값은 0으로 다시 초기화를 시켜준다.
            if(v.value < 0){
                v.value = 0;
                alert('분은 0보다 작을 수 없습니다.');
            }
            //이 조건에 걸리지않는다면 0 ~ 59 까지의 정상적인 값이 들어갔기때문에
            //실제 분을 카운트하는 변수에 저장한다.
            minuteCount = v.value;
            //만약 분을 카운트하는 변수가 10보다 작다면 한자리숫자 이므로
            //앞에 0을 하나 더 붙인다음 값을 보여주는 텍스트 변수에 저장한다.
            //그렇지 않다면 그값을 그대로 텍스트 변수에 저장한다.
            if(minuteCount < 10){
                minuteCountText = '0' + minuteCount;
            }else{
                minuteCountText = minuteCount;
            }
            //이후 분을 보여줄 태그에 값으로 텍스트변수값을 저장한다.
            minuteCountDiv.innerHTML = minuteCountText;
        }

        //초를 증가, 감소시키는 메서드
        //숫자를 입력하는 인풋태그 자체를 파라미터로 가져온다.
        function secondChange(v){
            //만약 인풋태그의 값중 첫번째 자리숫자가 0과 같다면 숫자는 0으로 설정해준다.
            //두자리 숫자를 적어주었을때 앞자리는 숫자가 0이아니라서 가능하다.
            if(v.value.charAt(0) == 0){
                v.value = 0;
            }
            //만약 인풋태그의 값이 59가 넘어간다면 초는 59를 넘기지 못하게 설정한다.
            //이후 값은 0으로 다시 초기화를 시켜준다.
            if(v.value > 59){
                v.value = 0;
                alert('초는 59를 넘길 수 없습니다.');
            }
            //만약 인풋태그의 값이 0보다 작다면 초는 0보다 작을수 없게 설정한다.
            //이후 값은 0으로 다시 초기화를 시켜준다.
            if(v.value < 0){
                v.value = 0;
                alert('초는 0보다 작을 수 없습니다.');
            }
            //이 조건에 걸리지않는다면 0 ~ 59 까지의 정상적인 값이 들어갔기때문에
            //실제 초를 카운트하는 변수에 저장한다.
            secondCount = v.value;
            //만약 초를 카운트하는 변수가 10보다 작다면 한자리숫자 이므로
            //앞에 0을 하나 더 붙인다음 값을 보여주는 텍스트 변수에 저장한다.
            //그렇지 않다면 그값을 그대로 텍스트 변수에 저장한다.
            if(secondCount < 10){
                secondCountText = '0' + secondCount;
            }else{
                secondCountText = secondCount;
            }
            //이후 초를 보여줄 태그에 값으로 텍스트변수값을 저장한다.
            secondCountDiv.innerHTML = secondCountText;
        }

        //타이머의 시간을 설정할때의 기본값들을 정하는 메서드
        //파라미터로 t와 v를 받아온다.
        //t : 어떤 버튼을 눌렀는지 확인하기위해 'hour' 'minute' 'second' 를 파라미터로 가져온다.
        //v : 어떤 버튼이 눌렸는지 확인하기위해 '+' 혹은 '-' 를 파라미터로 가져온다.
        function counting(t, v){
            //어떤 버튼이 눌렸는지 t의 타입으로 구분한다.
            switch(t){
                //타입이 'hour' 버튼이 눌렸다면 아래 if 조건으로 들어간다.
                case 'hour':
                    //만약 타입이 '+' 라면 아래 if 조건으로 들어간다.
                    //만약 타입이 '-' 라면 아래 else if 조건으로 들어간다.
                    //else 로 잡아도 되지면 확실한 조건을 하기위해서 else if 문으로 작성했다.
                    if(v == '+'){
                        //만약 시간 카운트 변수가 99보다 크거나 같다면 alert 창으로 경고한 뒤 값이 변할 수 없도록 설정한다.
                        //그렇지 않다면 시간 카운트 변수를 하나 증가시킨다.
                        if(hourCount >= 99){
                            alert('시간은 99시간을 넘길 수 없습니다.');
                        }else{
                            hourCount++;
                        }
                    }else if(v == '-'){
                        //만약 시간 카운트 변수가 0보다 작거나 같다면 alert 창으로 경고한 뒤 값이 변할 수 없도록 설정한다.
                        //그렇지 않다면 시간 카운트 변수를 하나 감소시킨다.
                        if(hourCount <= 0){
                            alert('시간은 0보다 적을 수 없습니다.');
                        }else{
                            hourCount--;
                        }
                    }
                    //break 로 아래 case 구문실행을 방지한다.
                    break;
                //타입이 'minute' 버튼이 눌렸다면 아래 if 조건으로 들어간다.
                case 'minute':
                    //만약 타입이 '+' 라면 아래 if 조건으로 들어간다.
                    //만약 타입이 '-' 라면 아래 else if 조건으로 들어간다.
                    //else 로 잡아도 되지면 확실한 조건을 하기위해서 else if 문으로 작성했다.
                    if(v == '+'){
                        //만약 분 카운트가 59보다 크거나 같다면 시간 카운트를 하나 증가시키기 위해서 다음 if 조건으로 들어간다.
                        //그렇지 않다면 분 카운트 변수를 하나 증가시킨다.
                        if(minuteCount >= 59){
                            //만약 시간 카운트 변수가 99보다 크거나 같다면 alert 창으로 경고한 뒤 값이 변할 수 없도록 설정한다.
                            //그렇지 않다면 시간 카운트 변수를 하나 증가시킨다.
                            //그리고 분 카운트 변수는 0으로 초기화 한다.
                            //시간 카운트가 올라갔기 때문에 반드시 분 카운트 변수는 0으로 초기화를 시켜줘야 한다.
                            if(hourCount >= 99){
                                alert('시간은 100시간을 넘길 수 없습니다.');
                            }else{
                                hourCount++;
                                minuteCount = 0;
                            }
                        }else{
                            minuteCount++;
                        }
                    }else if(v == '-'){
                        //만약 분 카운트가 0보다 작거나 같다면 시간 카운트를 하나 감소시키기 위해서 다음 if 조건으로 들어간다.
                        //그렇지 않다면 분 카운트 변수를 하나 감소시킨다.
                        if(minuteCount <= 0){
                            //만약 시간 카운트 변수가 0보다 작거나 같다면 alert 창으로 경고한 뒤 값이 변할 수 없도록 설정한다.
                            //그렇지 않다면 시간 카운트 변수를 하나 감소시킨다.
                            //그리고 분 카운트 변수는 59로 초기화 한다.
                            //시간 카운트가 내려갔기 때문에 반드시 분 카운트 변수는 59으로 초기화를 시켜줘야 한다.
                            if(hourCount <= 0){
                                alert('시간은 0보다 적을 수 없습니다.');
                            }else{
                                hourCount--;
                                minuteCount = 59;
                            }
                        }else{
                            minuteCount--;
                        }
                    }
                    //break 로 아래 case 구문실행을 방지한다.
                    break;
                //타입이 'second' 버튼이 눌렸다면 아래 if 조건으로 들어간다.
                case 'second':
                    //만약 타입이 '+' 라면 아래 if 조건으로 들어간다.
                    //만약 타입이 '-' 라면 아래 else if 조건으로 들어간다.
                    //else 로 잡아도 되지면 확실한 조건을 하기위해서 else if 문으로 작성했다.
                    if(v == '+'){
                        //만약 초 카운트가 59보다 크거나 같다면 분 카운트를 하나 증가시키기 위해서 다음 if 조건으로 들어간다.
                        //그렇지 않다면 초 카운트 변수를 하나 증가시킨다.
                        if(secondCount >= 59){
                            //만약 분 카운트가 59보다 크거나 같다면 시간 카운트를 하나 증가시키기 위해서 다음 if 조건으로 들어간다.
                            //그렇지 않다면 분 카운트 변수를 하나 증가시킨다.
                            //그리고 초 카운트 변수는 0으로 초기화 한다.
                            //분 카운트가 올라갔기 때문에 반드시 초 카운트 변수는 0으로 초기화를 시켜줘야 한다.
                            if(minuteCount >= 59){
                                //만약 시간 카운트 변수가 99보다 크거나 같다면 alert 창으로 경고한 뒤 값이 변할 수 없도록 설정한다.
                                //그렇지 않다면 시간 카운트 변수를 하나 증가시킨다.
                                //그리고 분 카운트 변수와 초 카운트 변수는 0으로 초기화 한다.
                                //분 카운트가 올라가서 시간 카운트가 올라갔기 때문에 반드시 분 카운트 변수와 초 카운트 변수는 0으로 초기화를 시켜줘야 한다.
                                if(hourCount >= 99){
                                    alert('시간은 99:99:99 위로 올라갈 수 없습니다.');
                                }else{
                                    hourCount++;
                                    minuteCount = 0;
                                    secondCount = 0;
                                }
                            }else{
                                minuteCount++;
                                secondCount = 0;
                            }
                        }else{
                            secondCount++;
                        }
                    }else if(v == '-'){
                        //만약 초 카운트가 0보다 작거나 같다면 분 카운트를 하나 감소시키기 위해서 다음 if 조건으로 들어간다.
                        //그렇지 않다면 초 카운트 변수를 하나 감소시킨다.
                        if(secondCount <= 0){
                            //만약 분 카운트가 0보다 작거나 같다면 시간 카운트를 하나 감소시키기 위해서 다음 if 조건으로 들어간다.
                            //그렇지 않다면 분 카운트 변수를 하나 감소시킨다.
                            if(minuteCount <= 0){
                                //만약 시간 카운트 변수가 0보다 작거나 같다면 alert 창으로 경고한 뒤 값이 변할 수 없도록 설정한다.
                                //그렇지 않다면 시간 카운트 변수를 하나 감소시킨다.
                                //그리고 분 카운트 변수와 초 카운트 변수는 59로 초기화 한다.
                                //분 카운트가 내려가서 시간 카운트가 내려갔기 때문에 반드시 분 카운트 변수와 초 카운트 변수는 59으로 초기화를 시켜줘야 한다.
                                if(hourCount <= 0){
                                    alert('시간은 00:00:00 아래로 내려갈 수 없습니다.');
                                }else{
                                    hourCount--;
                                    minuteCount = 59;
                                    secondCount = 59;
                                }
                            }else{
                                minuteCount--;
                                secondCount = 59;
                            }
                        }else{
                            secondCount--;
                        }
                    }
                    //break 로 아래 case 구문실행을 방지한다.
                    break;
            }
            //만약 시간 카운트가 10보다 작다면 앞의 자리에 0을 붙여준 이후 텍스트 변수에 시간 카운트를 저장한다.
            //그렇지 않다면 텍스트 변수에 시간 카운트를 저장한다.
            if(hourCount < 10){
                hourCountText = '0' + hourCount;
            }else{
                hourCountText = hourCount;
            }

            //만약 분 카운트가 10보다 작다면 앞의 자리에 0을 붙여준 이후 텍스트 변수에 분 카운트를 저장한다.
            //그렇지 않다면 텍스트 변수에 분 카운트를 저장한다.
            if(minuteCount < 10){
                minuteCountText = '0' + minuteCount;
            }else{
                minuteCountText = minuteCount;
            }

            //만약 초 카운트가 10보다 작다면 앞의 자리에 0을 붙여준 이후 텍스트 변수에 초 카운트를 저장한다.
            //그렇지 않다면 텍스트 변수에 초 카운트를 저장한다.
            if(secondCount < 10){
                secondCountText = '0' + secondCount;
            }else{
                secondCountText = secondCount;
            }

            //이후 시간을 보여줄 태그에 값으로 텍스트변수값을 저장한다.
            hourCountDiv.innerHTML = hourCountText;
            //이후 분을 보여줄 태그에 값으로 텍스트변수값을 저장한다.
            minuteCountDiv.innerHTML = minuteCountText;
            //이후 초를 보여줄 태그에 값으로 텍스트변수값을 저장한다.
            secondCountDiv.innerHTML = secondCountText;
            //이후 시간을 입력하는 인풋 태그에 텍스트변수값을 저장한다.
            //시간을 버튼으로 변경해도 인풋 태그의 값도 같이 변경이되게 설정한다.
            hourInputCount.value = hourCount;
            //이후 분을 입력하는 인풋 태그에 텍스트변수값을 저장한다.
            //분을 버튼으로 변경해도 인풋 태그의 값도 같이 변경이되게 설정한다.
            minuteInputCount.value = minuteCount;
            //이후 초를 입력하는 인풋 태그에 텍스트변수값을 저장한다.
            //초를 버튼으로 변경해도 인풋 태그의 값도 같이 변경이되게 설정한다.
            secondInputCount.value = secondCount;
        }

        //타이머 스톱워치 설정
        function timerClick(e){
            switch(e){
                //파라미터가 0이면 타이머를 설정할 수 있게 해준다.
                case '0':
                    //타이머
                    //타이머에서 시간을 증가, 감소시키는 버튼들을 감싼 div 태그를 눈에 보이게 설정한다.
                    topButton1.style.visibility = "visible";
                    //타이머에서 시간을 작성하는 input 태그를 눈에 보이게 설정한다.
                    bottomButton1.style.visibility = "visible";
                    //타이머에서 분을 증가, 감소시키는 버튼들을 감싼 div 태그를 눈에 보이게 설정한다.
                    topButton2.style.visibility = "visible";
                    //타이머에서 분을 작성하는 input 태그를 눈에 보이게 설정한다.
                    bottomButton2.style.visibility = "visible";
                    //타이머에서 초를 증가, 감소시키는 버튼들을 감싼 div 태그를 눈에 보이게 설정한다.
                    topButton3.style.visibility = "visible";
                    //타이머에서 초를 작성하는 input 태그를 눈에 보이게 설정한다.
                    bottomButton3.style.visibility = "visible";
                    //시간을 보여주는 모든 태그들을 00:00:00 으로 초기화한다.
                    hourCountDiv.innerHTML = '00';
                    minuteCountDiv.innerHTML = '00';
                    secondCountDiv.innerHTML = '00';
                    //실제 시간을 카운트 하는 모든 변수들을 0으로 초기화한다.
                    hourCount = 0;
                    minuteCount = 0;
                    secondCount = 0;
                    //시간을 작성 하는 모든 input 태그들을 0으로 초기화한다.
                    hourInputCount.value = 0;
                    minuteInputCount.value = 0;
                    secondInputCount.value = 0;
                    //현재 누른 버튼이 타이머인것을 설정하기위해서
                    //isWatch 를 false 값으로 지정한다.
                    isWatch = false;
                    //다음 case 문이 실행되지 않게 break 를 작성한다.
                    break;
                //파라미터가 1이면 스톱워치를 설정할 수 있게 해준다.
                case '1':
                    //스톱워치
                    //타이머에서 시간을 증가, 감소시키는 버튼들을 감싼 div 태그를 눈에 보이지 않게 설정한다.
                    topButton1.style.visibility = "hidden";
                    //타이머에서 시간을 작성하는 input 태그를 눈에 보이지 않게 설정한다.
                    bottomButton1.style.visibility = "hidden";
                    //타이머에서 분을 증가, 감소시키는 버튼들을 감싼 div 태그를 눈에 보이지 않게 설정한다.
                    topButton2.style.visibility = "hidden";
                    //타이머에서 분을 작성하는 input 태그를 눈에 보이지 않게 설정한다.
                    bottomButton2.style.visibility = "hidden";
                    //타이머에서 초를 증가, 감소시키는 버튼들을 감싼 div 태그를 눈에 보이지 않게 설정한다.
                    topButton3.style.visibility = "hidden";
                    //타이머에서 초를 작성하는 input 태그를 눈에 보이지 않게 설정한다.
                    bottomButton3.style.visibility = "hidden";
                    //시간을 보여주는 모든 태그들을 00:00:00 으로 초기화한다.
                    hourCountDiv.innerHTML = '00';
                    minuteCountDiv.innerHTML = '00';
                    secondCountDiv.innerHTML = '00';
                    //실제 시간을 카운트 하는 모든 변수들을 0으로 초기화한다.
                    hourCount = 0;
                    minuteCount = 0;
                    secondCount = 0;
                    //시간을 작성 하는 모든 input 태그들을 0으로 초기화한다.
                    hourInputCount.value = 0;
                    minuteInputCount.value = 0;
                    secondInputCount.value = 0;
                    //현재 누른 버튼이 스톱워치인것을 설정하기위해서
                    //isWatch 를 true 값으로 지정한다.
                    isWatch = true;
                    //다음 case 문이 따로 있지는 않지만 혹시 모르니깐 break 를 작성한다.
                    break;
            }
        }

        //스타트 버튼을 눌렀을때 실행될 메서드
        function startTimer(){
            //isRunning 이 true 라면 isRunning 을 false 로 변경한다.
            //이후 스레드를 정시 시킨후에 모든 값들을 초기화 시킨다.
            if(isRunning == true || isStop == true){
                isRunning = false;
                startButtonText.innerHTML = "START";
                isStop = false;
                stopButtonText.innerHTML = "STOP";
                hourCountDiv.innerHTML = '00';
                minuteCountDiv.innerHTML = '00';
                secondCountDiv.innerHTML = '00';
                hourCount = 0;
                minuteCount = 0;
                secondCount = 0;
                hourInputCount.value = 0;
                minuteInputCount.value = 0;
                secondInputCount.value = 0;
                clearInterval(intervalTimer);
                if(isWatch == true){
                    isStopWatch = false;
                }else{
                    isTimer = false;
                    topButton1.style.visibility = "visible";
                    bottomButton1.style.visibility = "visible";
                    topButton2.style.visibility = "visible";
                    bottomButton2.style.visibility = "visible";
                    topButton3.style.visibility = "visible";
                    bottomButton3.style.visibility = "visible";
                }
            }else{
                isRunning = true;
                startButtonText.innerHTML = "RESET";
                topButton1.style.visibility = "hidden";
                bottomButton1.style.visibility = "hidden";
                topButton2.style.visibility = "hidden";
                bottomButton2.style.visibility = "hidden";
                topButton3.style.visibility = "hidden";
                bottomButton3.style.visibility = "hidden";
                if(isWatch == false){
                    if(hourCount == 0 && minuteCount == 0 && secondCount == 0){
                        isRunning = false;
                        startButtonText.innerHTML = "START";
                        alert('시간지정안댐');
                        topButton1.style.visibility = "visible";
                        bottomButton1.style.visibility = "visible";
                        topButton2.style.visibility = "visible";
                        bottomButton2.style.visibility = "visible";
                        topButton3.style.visibility = "visible";
                        bottomButton3.style.visibility = "visible";
                    }else{
                        isTimer = true;
                        if(isTimer == true){
                            intervalTimer = setInterval(timer, 1000);
                        }
                    }
                }else{
                    isStopWatch = true;
                    if(isStopWatch == true){
                        intervalTimer = setInterval(stopWatch, 1000);
                    }
                }
            }
        }
        //스탑 버튼을 눌렀을때 실행될 메서드
        function stopTimer(){
            if(isStop == true){
                isStop = false;
                stopButtonText.innerHTML = "STOP";
                isRunning = true;
                if(isWatch == true){
                    isStopWatch = true;
                }else{
                    isTimer = true;
                }
                topButton1.style.visibility = "hidden";
                bottomButton1.style.visibility = "hidden";
                topButton2.style.visibility = "hidden";
                bottomButton2.style.visibility = "hidden";
                topButton3.style.visibility = "hidden";
                bottomButton3.style.visibility = "hidden";
                if(isWatch == false){
                    if(hourCount == 0 && minuteCount == 0 && secondCount == 0){
                        isRunning = false;
                    }else{
                        isTimer = true;
                        if(isTimer == true){
                            intervalTimer = setInterval(timer, 1000);
                        }
                    }
                }else{
                    isStopWatch = true;
                    if(isStopWatch == true){
                        intervalTimer = setInterval(stopWatch, 1000);
                    }
                }
            }else{
                isStop = true;
                stopButtonText.innerHTML = "RESTART";
                isRunning = false;
                if(isWatch == true){
                    isStopWatch = false;
                }else{
                    isWatch = false;
                }
                clearInterval(intervalTimer);
            }
        }

        //타이머 스레드를 돌릴때 안에 들어갈 메서드
        function timer(){
            //만약 isTimer 가 false 라면 저장된 스레드를 삭제시킨다.
            //이건 스레드가 계속해서 실행될때 시간이 종료되면 삭제시키기 위해서 조건을 넣어주었다.
            if(isTimer != true){
                clearInterval(intervalTimer);
            }else{
                //만약 secondCount 가 0이라면 if 조건으로 들어간다.
                if(secondCount <= 0){
                    //만약 minuteCount 가 0이라면 if 조건으로 들어간다.
                    if(minuteCount <= 0){
                        //만약 hourCount 가 0이라면 alert 창으로 시간이 종료된것을 알려준다.
                        //이후 isTimer1을 false 로 변경시켜주어 스레드가 종료되게 설정한다.
                        //그리고 isRunning 을 false 로 변경시켜서 작동이 멈추었다고 알려준다.
                        //그렇지 않다면 시간 카운트를 하나 감소시킨다.
                        //그리고 분 카운트와 초 카운트를 59로 설정한다.
                        if(hourCount <= 0){
                            alert('시간종료');
                            isTimer = false;
                            isRunning = false;
                            //만약 isRunning 이 false 라면 startButtonText 안의 내용을 start 로 변경한다.
                            if(isRunning == false){
                                startButtonText.innerHTML = 'START';
                                //타이머가 종료 되면 다시 눈에 보이게 한다.
                                if(isWatch != true){
                                    topButton1.style.visibility = "visible";
                                    bottomButton1.style.visibility = "visible";
                                    topButton2.style.visibility = "visible";
                                    bottomButton2.style.visibility = "visible";
                                    topButton3.style.visibility = "visible";
                                    bottomButton3.style.visibility = "visible";
                                }
                            }
                        }else{
                            hourCount--;
                            minuteCount = 59;
                            secondCount = 59;
                        }
                    //만약 분 카운트가 0이 아니라면 분 카운트를 하나 감소 시킨다.
                    //그리고 초 카운트를 59로 설정한다.
                    }else{
                        minuteCount--;
                        secondCount = 59;
                    }
                //만약 초 카운트가 0이 아니라면 초 카운트를 하나 감소 시킨다.
                }else{
                    secondCount--;
                }
                //만약 시간 카운트가 10보다 작다면 앞에 0을 붙여준다.
                //이후 시간을 보여주는 텍스트 변수에 저장시켜준다.
                if(hourCount < 10){
                    hourCountText = '0' + hourCount;
                //그렇지 않다면 시간을 보여주는 텍스트변수에 저장시켜준다.
                }else{
                    hourCountText = hourCount;
                }
                //만약 분 카운트가 10보다 작다면 앞에 0을 붙여준다.
                //이후 분을 보여주는 텍스트 변수에 저장시켜준다.
                if(minuteCount < 10){
                    minuteCountText = '0' + minuteCount;
                //그렇지 않다면 분을 보여주는 텍스트변수에 저장시켜준다.
                }else{
                    minuteCountText = minuteCount;
                }
                //만약 초 카운트가 10보다 작다면 앞에 0을 붙여준다.
                //이후 초를 보여주는 텍스트 변수에 저장시켜준다.
                if(secondCount < 10){
                    secondCountText = '0' + secondCount;
                //그렇지 않다면 초를 보여주는 텍스트변수에 저장시켜준다.
                }else{
                    secondCountText = secondCount;
                }
                //시간을 보여주는 변수에 시간 텍스트 변수를 저장시켜준다.
                hourCountDiv.innerHTML = hourCountText;
                //분을 보여주는 변수에 분 텍스트 변수를 저장시켜준다.
                minuteCountDiv.innerHTML = minuteCountText;
                //초를 보여주는 변수에 초 텍스트 변수를 저장시켜준다.
                secondCountDiv.innerHTML = secondCountText;
                                                                                                //근데 이거 나중에 추가안되게 시작 누르면 안보이게 변경해야지
                //시간을 입력하는 변수에 시간 텍스트 변수를 저장시켜준다.
                hourInputCount.value = hourCount;
                //분을 입력하는 변수에 분 텍스트 변수를 저장시켜준다.
                minuteInputCount.value = minuteCount;
                //초를 입력하는 변수에 초 텍스트 변수를 저장시켜준다.
                secondInputCount.value = secondCount;
            }
        }
        //스톱워치 스레드를 돌릴때 안에 들어갈 메서드
        function stopWatch(){
            //만약 isStopWatch 가 false 라면 저장된 스레드를 삭제시킨다.
            //이건 스레드가 계속해서 실행될때 시간이 종료되면 삭제시키기 위해서 조건을 넣어주었다.
            if(isStopWatch != true){
                clearInterval(intervalTimer);
            }else{
                //만약 secondCount 가 59이라면 if 조건으로 들어간다.
                if(secondCount >= 59){
                    //만약 minuteCount 가 0이라면 if 조건으로 들어간다.
                    if(minuteCount >= 59){
                        //만약 hourCount 가 99라면 alert 창으로 시간이 종료된것을 알려준다.
                        //이후 isStopWatch 를 false 로 변경시켜주어 스레드가 종료되게 설정한다.
                        //그리고 isRunning 을 false 로 변경시켜서 작동이 멈추었다고 알려준다.
                        //그렇지 않다면 시간 카운트를 하나 증가시킨다.
                        //그리고 분 카운트와 초 카운트를 0으로 설정한다.
                        if(hourCount >= 99){
                            alert('시간종료');
                            isStopWatch = false;
                            isRunning = false;
                            //만약 isRunning 이 false 라면 startButtonText 안의 내용을 start 로 변경한다.
                            if(isRunning == false){
                                startButtonText.innerHTML = 'START';
                            }
                        }else{
                            hourCount++;
                            minuteCount = 0;
                            secondCount = 0;
                        }
                    //만약 분 카운트가 59보다 크거나 같다면 분 카운트를 하나 증가 시킨다.
                    //그리고 초 카운트를 0으로 설정한다.
                    }else{
                        minuteCount++;
                        secondCount = 0;
                    }
                //만약 초 카운트가 60보다 크거나 같다면 초 카운트를 하나 증가 시킨다.
                }else{
                    secondCount++;
                }
                //만약 시간 카운트가 10보다 작다면 앞에 0을 붙여준다.
                //이후 시간을 보여주는 텍스트 변수에 저장시켜준다.
                if(hourCount < 10){
                    hourCountText = '0' + hourCount;
                //그렇지 않다면 시간을 보여주는 텍스트변수에 저장시켜준다.
                }else{
                    hourCountText = hourCount;
                }
                //만약 분 카운트가 10보다 작다면 앞에 0을 붙여준다.
                //이후 분을 보여주는 텍스트 변수에 저장시켜준다.
                if(minuteCount < 10){
                    minuteCountText = '0' + minuteCount;
                //그렇지 않다면 분을 보여주는 텍스트변수에 저장시켜준다.
                }else{
                    minuteCountText = minuteCount;
                }
                //만약 초 카운트가 10보다 작다면 앞에 0을 붙여준다.
                //이후 초를 보여주는 텍스트 변수에 저장시켜준다.
                if(secondCount < 10){
                    secondCountText = '0' + secondCount;
                //그렇지 않다면 초를 보여주는 텍스트변수에 저장시켜준다.
                }else{
                    secondCountText = secondCount;
                }
                //시간을 보여주는 변수에 시간 텍스트 변수를 저장시켜준다.
                hourCountDiv.innerHTML = hourCountText;
                //분을 보여주는 변수에 분 텍스트 변수를 저장시켜준다.
                minuteCountDiv.innerHTML = minuteCountText;
                //초를 보여주는 변수에 초 텍스트 변수를 저장시켜준다.
                secondCountDiv.innerHTML = secondCountText;
                                                                                                //이거도 나중에 추가안되게 시작 누르면 안보이게 변경해야지
                //시간을 입력하는 변수에 시간 텍스트 변수를 저장시켜준다.
                hourInputCount.value = hourCount;
                //분을 입력하는 변수에 분 텍스트 변수를 저장시켜준다.
                minuteInputCount.value = minuteCount;
                //초를 입력하는 변수에 초 텍스트 변수를 저장시켜준다.
                secondInputCount.value = secondCount;
            }
        }
    </script>

    <!---------------------------------------------------- 채팅 구역 ----------------------------------------------------->
    <script th:inline="javascript">
        //////////////////////////////////////////////////// 변수 구역 ////////////////////////////////////////////////////
        var metaIdx = [[${metaRoom.idx}]]; // 방 번호
        var metaRecruitingPersonnel = [[${metaRoom.metaRecruitingPersonnel}]]; // 참여중인 인원
        var metaNickname = [[${nickImage.nickname}]]; // 로그인 유저 닉네임
        let entryCheck = [[${entryCheck}]]; // 입장 체크값
    </script>
    <script src="/js/OneRoom.js"></script>

    <!--------------------------------------------------- 캔버스 구역 ---------------------------------------------------->
    <script th:inline="javascript">
        let canvas; // 도화지
        let canvasLeft; // 왼쪽 벽
        let canvasTop; // 위쪽 벽
        let canvasRight; // 오른쪽 벽
        let canvasBottom; // 아래쪽 벽
        let context; // 화가
        let imgC = "imgChar2"; // 그림 이름 받는곳

        let dx = 0; // x축 움직임
        let dy = 0; // y축 움직임

        let keycode; // 키보드 키코드

        let imgChar = new Image(); // 캐릭터 1번 동작 이미지
        imgChar.src = "/character/mario.png"; // 캐릭터 1번 동작 이미지 주소
        let imgChar2 = new Image(); // 캐릭터 2번 동작 이미지
        imgChar2.src = "/character/mario2.png"; // 캐릭터 2번 동작 이미지 주소
        let imgBg = new Image(); // 배경 이미지
        imgBg.src = "/map/oneRoom.png"; // 배경 이미지 주소

        let a = document.getElementById("canvas").clientWidth;
        let b = a / 2;
        let c = document.getElementById("canvas").clientHeight;
        d = (c / 6) * 5;

        let x = b, y = d; // 캐릭터 시작 위치 지정
        let w = 20, h = 20; // 캐릭터 크기 지정 (전체 사이즈의 절반만 작성)
    </script>
    <script src="/js/OneRoomCanvas.js"></script>
</body>
</html>