<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>멘티 모집</title>
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/Recruit.css">
</head>
<body>
    <header>
        <nav class="headerContainer">
            <div class="headerMenu">
                <div class="headerMenuLeft">

                    <div class="headerImg">
                        <a href="/" alt="SOJU">
                            <img src="/img/logo_mate.png" class="mainLogo">
                        </a>
                    </div>

                    <div class="menuContainer">
                        <div class="categoryMenu">
                            <span>스터디원</span>
                            <div class="dropTable">
                                <a class="dropRecruitStudy dropMenu" href="/recruitstudy">스터디원 모집</a>
                                <a class="dropRecruitMentee dropMenu" href="/recruitmenteelist">멘티 모집</a>
                                <a class="dropRecruitMentor dropMenu" href="/recruitmentorlist">멘토 모집</a>
                            </div>
                        </div>

                        <div class="categoryMenu">
                            <a href="/meta">
                                <span>스터디룸</span>
                            </a>
                        </div>
                        <div class="categoryMenu">
                            <a href="/store">
                                <span>스토어</span>
                            </a>
                        </div>
                        <div class="categoryMenu">
                            <a href="/mypage">
                                <span>마이페이지</span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="headerMenuRight">
                    <div class="whenLogin" sec:authorize="isAuthenticated()">
                        <div class="welcome" th:text="${member.nickname} + '님 반갑습니다!'"></div>
                        <div class="notificationsMenu">
                            <div class="icon">
                                <i class="ri-notification-4-fill"></i>
                            </div>
                            <div class="notiDrop">
                                <p>최근 알림</p>
                                <div class="notiList">
                                    <a class="notiDropMenu" th:each="alarm : ${alarmList}">
                                        <div th:if="${alarm.alarmType} == '2'">
                                            <form>
                                                <span class="notiCircle"></span>
                                                <span class="notiText" th:text="${alarm.title}"></span><br>
                                                <input type="hidden" name="idx" th:value="${alarm.idx}">
                                                <input type="hidden" name="recruitStudyIdx" th:value="${alarm.recruitStudyIdx}">
                                                <input type="hidden" name="recruitMentorIdx" th:value="${alarm.recruitMentorIdx}">
                                                <input type="hidden" name="recruitMenteeIdx" th:value="${alarm.recruitMenteeIdx}">
                                                <input type="hidden" name="nickname" th:value="${alarm.nickname}">
                                                <input type="button" value="수락" onclick="recruitAccept(this.form);">
                                                <input type="button" value="거절" onclick="recruitRefuse(this.form);">
                                            </form>
                                        </div>
                                        <div th:if="${alarm.alarmType} != '2'">
                                            <span class="notiCircle"></span>
                                            <form>
                                                <input type="hidden" name="idx" th:value="${alarm.idx}">
                                                <input type="button" value="X" onclick="deleteAlarm(this.form);"><br>
                                                <span class="notiText" th:text="${alarm.title}"></span>
                                            </form>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="whenLogin" sec:authorize="isAnonymous()">
                        <div class="welcome"></div>
                        <div class="notificationsMenu" onclick="location.href='/mypage/alarm'" style="visibility: hidden;">
                            <div class="icon" th:data-number="${alarmCount}">
                                <i class="ri-notification-4-fill"></i>
                            </div>
                        </div>
                    </div>

                    <div class="btnLogin">
                        <input class="inputButtonLogin" sec:authorize="isAnonymous()" type="button" value="로그인" onclick="location.href='/loginform'">
                        <input class="inputButtonLogin" sec:authorize="isAuthenticated()" type="button" value="로그아웃" onclick="location.href='/logout'">
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <h1>멘티모집</h1>
        <ul>
            <li><a href="/recruitmenteelist/writeform">글쓰기</a></li>
            <li><a href="/">메인으로</a> </li>
        </ul>
        <!-- 멘토프로필 리스트 -->
        <div class="recruitListArea" th:each="recruitMentee : ${list}">
            <form>
                <input type="hidden" th:value="${recruitMentee.idx}" name="idx">
                <div th:if="${recruitMentee.recruiting} == '0'" class="recruitListStatus0">
                    모집중
                </div>
                <div th:if="${recruitMentee.recruiting} != '0'" class="recruitListStatus1">
                    모집완료
                </div>
                <div class="recruitListImgAndContentArea">
                    <div class="recruitListImgArea">
                        <img class="recruitListImg" th:src="${recruitMentee.image}">
                    </div>
                    <div class="recruitListContentArea">
                        <div class="recruitListTitle" th:text="${recruitMentee.title}">
                            제목
                        </div>
                        <div class="recruitListNickname" th:text="'작성자 : ' + ${recruitMentee.writer}">
                            닉네임
                        </div>
                        <div>
                            <input type="button" value="상세보기" onclick="change(this.form);">
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- 페이징처리를 자바에서 처리해 넘어올 객체 -->
        <div class="pagingBtn" th:utext="${pageMenu}"></div>
    </div>
</body>
<script>
    //상세보기페이지로 이동하는 메서드
    function change(f){
        f.action = '/recruitmenteelist/post';
        f.method = "GET";
        f.submit();
    }

    //더이상 이동할 페이지가 없을 때 경고창을 띄우는 메서드
    function noPage() {
        alert("더이상 이동할 페이지가 없습니다.");
    }
</script>
</html>