<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>스터디원 모집 작성</title>
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/RecruitWrite.css">
</head>
<body>
    <header>
        <nav class="headerContainer">
            <div class="headerMenu">
                <div class="headerMenuLeft">

                    <div class="headerImg">
                        <a href="/" alt="SOJU">
                            <img src="/img/logo_mate.png" class="mainLogo">
                        </a>
                    </div>

                    <div class="menuContainer">
                        <div class="categoryMenu">
                            <span>스터디원</span>
                            <div class="dropTable">
                                <a class="dropRecruitStudy dropMenu" href="/recruitstudy">스터디원 모집</a>
                                <a class="dropRecruitMentee dropMenu" href="/recruitmenteelist">멘티 모집</a>
                                <a class="dropRecruitMentor dropMenu" href="/recruitmentorlist">멘토 모집</a>
                            </div>
                        </div>

                        <div class="categoryMenu">
                            <a href="/meta">
                                <span>스터디룸</span>
                            </a>
                        </div>
                        <div class="categoryMenu">
                            <a href="/store">
                                <span>스토어</span>
                            </a>
                        </div>
                        <div class="categoryMenu">
                            <a href="/mypage">
                                <span>마이페이지</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <h1>스터디원 모집 작성</h1>
        <form>
            <input type="hidden" id="writeDate" name="writeDate">
            <ul>
                <li>
                    <span>제목 : </span> <input name="title" type="text">
                </li>
                <li>
                    <span>작성자 : </span> <input class="recruitWriter" type="text" name="writer" th:value="${nickname}" readonly>
                </li>
                <li>
                    <span>분야 : </span>
                    <select name="studyType" onchange="showImage();">
                        <option value="">분야 선택</option>
                        <option value="computer">컴퓨터</option>
                        <option value="math">수학</option>
                        <option value="management">경영/마케팅</option>
                        <option value="design">디자인</option>
                        <option value="education">교육</option>
                        <option value="literature">문학</option>
                        <option value="entrance">입시</option>
                        <option value="engineer">공학</option>
                        <option value="language">언어</option>
                        <option value="employment">취업</option>
                        <option value="etc">기타</option>
                    </select>
                </li>
                <li><span>인원 : </span>
                    <select name="personnel">
                        <option value="">인원 선택</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </li>
                <li class="imgList">
                    <span>아이콘 : </span> <div id="test1"></div>
                </li>
                <li class="contentList">
                    <span>스터디 소개 : </span> <textarea class="recruitWriteContent" name="studyIntro"></textarea>
                </li>
                <li class="btnList">
                    <input type="button" value="작성 완료" onclick="studyWrite(this.form)">
                    <input type="button" value="뒤로가기" onclick="location.href='/recruitstudy'">
                </li>
            </ul>
        </form>
    </div>
</body>
<script>
    //현재 시간을 설정하는 변수
    const TIME_ZONE = 3240 * 10000; // 현재 시간을 설정하는 변수
    //시간에서 날짜만 따로 잘라낼 변수
    let today = new Date(+new Date() + TIME_ZONE).toISOString().split('T')[0];
    //날짜를 저장할 변수
    let writeDate = document.getElementById("writeDate");
    //날짜 저장
    writeDate.value = today;
    //멘토프로필 작성하는 메서드
    function studyWrite(f) {
        let title = f.title.value;
        let studyType = f.studyType.value;
        let personnel = f.personnel.value;
        let studyIntro = f.studyIntro.value;
        if (title == '') {
            alert('제목작성하셈');
            return;
        }
        if (studyType == '') {
            alert('타입 선택하셈');
            return;
        }
        if (personnel == '') {
            alert('인원 선택하셈');
            return;
        }
        if (studyIntro == '') {
            alert('설명 작성하셈');
            return;
        }
        f.action = '/recruitstudy/writeform/write';
        f.method = "GET";
        f.submit();
    }
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    //타입을 변경할 때 이미지도 변경하기위한 메서드
    function showImage(){
        let test1 = document.getElementById("test1");
        let selectElement = document.querySelector("select");
        let selectedValue = selectElement.value;
        if (selectedValue) {
            test1.innerHTML = '<img class="img" src="/img/' + selectedValue + '.png">' +
                              '<input type="hidden" name="image" value="/img/' + selectedValue + '.png">';
        } else {
            test1.innerHTML = '';
        }
    }
</script>
</html>