<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>멘티 모집 수정</title>
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/RecruitWrite.css">
</head>
<body>
    <header>
        <nav class="headerContainer">
            <div class="headerMenu">
                <div class="headerMenuLeft">

                    <div class="headerImg">
                        <a href="/" alt="SOJU">
                            <img src="/img/logo_mate.png" class="mainLogo">
                        </a>
                    </div>

                    <div class="menuContainer">
                        <div class="categoryMenu">
                            <span>스터디원</span>
                            <div class="dropTable">
                                <a class="dropRecruitStudy dropMenu" href="/recruitstudy">스터디원 모집</a>
                                <a class="dropRecruitMentee dropMenu" href="/recruitmenteelist">멘티 모집</a>
                                <a class="dropRecruitMentor dropMenu" href="/recruitmentorlist">멘토 모집</a>
                            </div>
                        </div>

                        <div class="categoryMenu">
                            <a href="/meta">
                                <span>스터디룸</span>
                            </a>
                        </div>
                        <div class="categoryMenu">
                            <a href="/store">
                                <span>스토어</span>
                            </a>
                        </div>
                        <div class="categoryMenu">
                            <a href="/mypage">
                                <span>마이페이지</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <h1>멘티 모집 수정</h1>
        <form>
            <input type="hidden" id="writeDate" name="writeDate">
            <input type="hidden" name="idx" id="idx" th:value="${recruitMentee.idx}">
            <ul>
                <li>
                    <span>제목 : </span> <input type="text" name="title" th:value="${recruitMentee.title}" >
                </li>
                <li>
                    <span>작성자 : </span> <input class="recruitWriter" type="text" name="writer" th:value="${recruitMentee.writer}" readonly>
                </li>
                <li>
                    <span>분야 : </span>
                    <select name="studyType" onchange="showImage();">
                        <option value="">분야 선택</option>
                        <option th:if="${recruitMentee.studyType} == 'computer'" value="computer" selected>컴퓨터</option>
                        <option th:if="${recruitMentee.studyType} != 'computer'" value="computer">컴퓨터</option>
                        <option th:if="${recruitMentee.studyType} == 'math'" value="math" selected>수학</option>
                        <option th:if="${recruitMentee.studyType} != 'math'" value="math">수학</option>
                        <option th:if="${recruitMentee.studyType} == 'management'" value="management" selected>경영/마케팅</option>
                        <option th:if="${recruitMentee.studyType} != 'management'" value="management">경영/마케팅</option>
                        <option th:if="${recruitMentee.studyType} == 'design'" value="design" selected>디자인</option>
                        <option th:if="${recruitMentee.studyType} != 'design'" value="design">디자인</option>
                        <option th:if="${recruitMentee.studyType} == 'education'" value="education" selected>교육</option>
                        <option th:if="${recruitMentee.studyType} != 'education'" value="education">교육</option>
                        <option th:if="${recruitMentee.studyType} == 'literature'" value="literature" selected>문학</option>
                        <option th:if="${recruitMentee.studyType} != 'literature'" value="literature">문학</option>
                        <option th:if="${recruitMentee.studyType} == 'entrance'" value="entrance" selected>입시</option>
                        <option th:if="${recruitMentee.studyType} != 'entrance'" value="entrance">입시</option>
                        <option th:if="${recruitMentee.studyType} == 'engineer'" value="engineer" selected>공학</option>
                        <option th:if="${recruitMentee.studyType} != 'engineer'" value="engineer">공학</option>
                        <option th:if="${recruitMentee.studyType} == 'language'" value="language" selected>언어</option>
                        <option th:if="${recruitMentee.studyType} != 'language'" value="language">언어</option>
                        <option th:if="${recruitMentee.studyType} == 'employment'" value="employment" selected>취업</option>
                        <option th:if="${recruitMentee.studyType} != 'employment'" value="employment">취업</option>
                        <option th:if="${recruitMentee.studyType} == 'etc'" value="etc" selected>기타</option>
                        <option th:if="${recruitMentee.studyType} != 'etc'" value="etc">기타</option>
                    </select>
                </li>
                <li class="imgList">
                    <span>아이콘 : </span>
                    <div id="test1">
                        <img class="img" th:src="${recruitMentee.image}">
                        <input type="hidden" name="image" th:value="${recruitMentee.image}">
                    </div>
                </li>
                <li class="contentList">
                    <span>멘토 소개 : </span> <textarea class="recruitWriteContent" name="studyIntro" th:text="${recruitMentee.studyIntro}"></textarea>
                </li>
                <li class="btnList">
                    <input type="button" value="수정하기" onclick="menteeModify(this.form);">
                    <input type="button" value="뒤로가기" onclick="location.href='/recruitmenteelist'">
                </li>
            </ul>
        </form>
    </div>
</body>
<script src="/js/httpRequest.js"></script>
<script>
    //현재 시간을 설정하는 변수
    const TIME_ZONE = 3240 * 10000;
    //시간에서 날짜만 따로 잘라낼 변수
    let today = new Date(+new Date() + TIME_ZONE).toISOString().split('T')[0];
    //날짜를 저장할 변수
    let writeDate = document.getElementById("writeDate");
    //날짜 저장
    writeDate.value = today;
    //멘토프로필 내용 변경 메서드
    function menteeModify(f) {
        let idx = f.idx.value;
        let title = f.title.value;
        let image = f.image.value;
        let studyType = f.studyType.value;
        let writer = f.writer.value;
        let studyIntro = f.studyIntro.value;
        if (title == '') {
            alert('제목을 작성하세요');
            return;
        }
        if (studyType == '') {
            alert('타입을 선택하세요');
            return;
        }
        if (studyIntro == '') {
            alert('설명을 작성하세요');
            return;
        }
        let url = '/recruitmenteelist/post/modifyform/modify';
        let param = "idx=" + idx +
                    "&title=" + title +
                    "&studyType=" + studyType +
                    "&image=" + image +
                    "&writer=" + writer +
                    "&writeDate=" + today +
                    "&studyIntro=" + encodeURIComponent(studyIntro);
        sendRequest(url, param, res, "GET");
    }
    function res() {
        if ( xhr.readyState == 4 && xhr.status == 200 ) {
            var data = xhr.responseText;
            if(data == 'no') {
                alert('내용변경 실패');
                return;
            } else {
                alert('내용변경 성공');
                location.href="/recruitmenteelist";
            }
        }
    }
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    //타입을 변경할 때 이미지도 변경하기위한 메서드
    function showImage(){
        let test1 = document.getElementById("test1");
        let selectElement = document.querySelector("select");
        let selectedValue = selectElement.value;
        if (selectedValue) {
            test1.innerHTML = '<img class="img" src="/img/' + selectedValue + '.png">' +
                              '<input type="hidden" name="image" value="/img/' + selectedValue + '.png">';
        } else {
            test1.innerHTML = '';
        }
    }
</script>
</html>