<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>멘토 모집 수정</title>
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/RecruitWrite.css">
</head>
<body>
    <header>
        <nav class="headerContainer">
            <div class="headerMenu">
                <div class="headerMenuLeft">

                    <div class="headerImg">
                        <a href="/" alt="SOJU">
                            <img src="/img/logo_mate.png" class="mainLogo">
                        </a>
                    </div>

                    <div class="menuContainer">
                        <div class="categoryMenu">
                            <span>스터디원</span>
                            <div class="dropTable">
                                <a class="dropRecruitStudy dropMenu" href="/recruitstudy">스터디원 모집</a>
                                <a class="dropRecruitMentee dropMenu" href="/recruitmenteelist">멘티 모집</a>
                                <a class="dropRecruitMentor dropMenu" href="/recruitmentorlist">멘토 모집</a>
                            </div>
                        </div>

                        <div class="categoryMenu">
                            <a href="/meta">
                                <span>스터디룸</span>
                            </a>
                        </div>
                        <div class="categoryMenu">
                            <a href="/store">
                                <span>스토어</span>
                            </a>
                        </div>
                        <div class="categoryMenu">
                            <a href="/mypage">
                                <span>마이페이지</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <h1>멘토 모집 수정</h1>
        <form>
            <input type="hidden" id="writeDate" name="writeDate">
            <input type="hidden" name="idx" id="idx" th:value="${recruitMentor.idx}">
            <ul>
                <li>
                    <span>제목 : </span> <input type="text" name="title" th:value="${recruitMentor.title}">
                </li>
                <li>
                    <span>작성자 : </span> <input class="recruitWriter" type="text" name="writer" th:value="${recruitMentor.writer}" readonly>
                </li>
                <li>
                    <span>분야 : </span>
                    <select name="studyType">
                        <option value="">분야 선택</option>
                        <option th:if="${recruitMentor.studyType} == 'computer'" value="computer" selected>컴퓨터</option>
                        <option th:if="${recruitMentor.studyType} != 'computer'" value="computer">컴퓨터</option>
                        <option th:if="${recruitMentor.studyType} == 'math'" value="math" selected>수학</option>
                        <option th:if="${recruitMentor.studyType} != 'math'" value="math">수학</option>
                        <option th:if="${recruitMentor.studyType} == 'management'" value="management" selected>경영/마케팅</option>
                        <option th:if="${recruitMentor.studyType} != 'management'" value="management">경영/마케팅</option>
                        <option th:if="${recruitMentor.studyType} == 'design'" value="design" selected>디자인</option>
                        <option th:if="${recruitMentor.studyType} != 'design'" value="design">디자인</option>
                        <option th:if="${recruitMentor.studyType} == 'education'" value="education" selected>교육</option>
                        <option th:if="${recruitMentor.studyType} != 'education'" value="education">교육</option>
                        <option th:if="${recruitMentor.studyType} == 'literature'" value="literature" selected>문학</option>
                        <option th:if="${recruitMentor.studyType} != 'literature'" value="literature">문학</option>
                        <option th:if="${recruitMentor.studyType} == 'entrance'" value="entrance" selected>입시</option>
                        <option th:if="${recruitMentor.studyType} != 'entrance'" value="entrance">입시</option>
                        <option th:if="${recruitMentor.studyType} == 'engineer'" value="engineer" selected>공학</option>
                        <option th:if="${recruitMentor.studyType} != 'engineer'" value="engineer">공학</option>
                        <option th:if="${recruitMentor.studyType} == 'language'" value="language" selected>언어</option>
                        <option th:if="${recruitMentor.studyType} != 'language'" value="language">언어</option>
                        <option th:if="${recruitMentor.studyType} == 'employment'" value="employment" selected>취업</option>
                        <option th:if="${recruitMentor.studyType} != 'employment'" value="employment">취업</option>
                        <option th:if="${recruitMentor.studyType} == 'etc'" value="etc" selected>기타</option>
                        <option th:if="${recruitMentor.studyType} != 'etc'" value="etc">기타</option>
                    </select>
                </li>
                <li class="contentList">
                    <span>스터디 소개 : </span> <textarea class="mentorWriteContent" name="studyIntro" th:text="${recruitMentor.studyIntro}"></textarea>
                </li>
                <li class="btnList">
                    <input type="button" value="수정하기" onclick="mentorModify(this.form);">
                    <input type="button" value="뒤로가기" onclick="location.href='/recruitmentorlist'">
                </li>
            </ul>
        </form>
    </div>
</body>
<script src="/js/httpRequest.js"></script>
<script>
    //현재 시간을 설정하는 변수
    const TIME_ZONE = 3240 * 10000;
    //시간에서 날짜만 따로 잘라낼 변수
    let today = new Date(+new Date() + TIME_ZONE).toISOString().split('T')[0];
    //날짜를 저장할 변수
    let writeDate = document.getElementById("writeDate");
    //날짜 저장
    writeDate.value = today;
    //멘토구하기 내용 변경 메서드
    function mentorModify(f) {
        let idx = f.idx.value;
        let title = f.title.value;
        let studyType = f.studyType.value;
        let studyIntro = f.studyIntro.value;
        let writer = f.writer.value;
        let writeDate = f.writeDate.value;
        if (title == '') {
            alert('제목작성하셈');
            return;
        }
        if (studyType == '') {
            alert('타입 선택하셈');
            return;
        }
        if (studyIntro == '') {
            alert('설명 작성하셈');
            return;
        }
        let url = '/recruitmentorlist/post/modifyform/modify';
        let param = "idx=" + idx +
                    "&title=" + title +
                    "&writer=" + writer +
                    "&writeDate=" + writeDate +
                    "&studyType=" + studyType +
                    "&studyIntro=" + encodeURIComponent(studyIntro);
        sendRequest(url, param, res, "GET");
    }

    function res() {
        if ( xhr.readyState == 4 && xhr.status == 200 ) {
            var data = xhr.responseText;
            if(data == 'no') {
                alert('내용변경 실패');
                return;
            } else {
                alert('내용변경 성공');
                location.href="/recruitmentorlist";
            }
        }
    }
</script>
</html>